<ul>
  <li><%= link_to 'Delete', customer, method: :delete, data: {confirm: 'Are you sure?'} %></li>
  <li><%= link_to 'Edit', edit_customer_path(customer) %></li>
  <br>
  <li><h1><%= customer.fullname %></h1></li>
  <li><%= image_tag(customer.image, size: "130x150") %></li>
  <li><strong>Phone:</strong> <%= customer.phone %></li>
  <li><strong>Email:</strong> <%= customer.email %></li>
  <li><strong>Notes:</strong> <%= customer.notes %></li>
  <li><strong>Province:</strong>
  <% if !customer.province_id.nil? %>
    <%= customer.province.name %></li>
  <%else%>
    <%= "None" %></li>
  <%end%>
  <!--<li><%= link_to 'Show', customer %></li>-->
</ul>